*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: cosmic;
    src: url(../CSS/FONTS/LDF-ComicSans/LDFComicSans.ttf);
}

@font-face {
    font-family: rick;
    src: url(../CSS/FONTS/ricky/get_schwifty.ttf);
}

 body{
     height: 100vh;
     background-image: url(../CSS/BACKGROUND/background.png);
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
 }

/* HEADER */

.nav_header{
    height: 40px;
 }

 .nav_header ul{
    float: inline-end;
    list-style: none;
    
 }

 .nav_header ul li{ 
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    float:right;
    font-size: 18px;
    background-color:#2c2b2b;
    border: 2px solid #1f1e1e;
    box-shadow: 2px 2px black;
 }

 .nav_header ul li a{
    text-decoration: none;
    color: #16ff00;
    border-radius: 5px;
    padding: 5px;
 }


 .mySlides{
    display:none
}

 .w3-left, .w3-right, .w3-badge {
    cursor:pointer
}

 .w3-badge {
    height:13px;width:13px;padding:0
}


 /* MAIN */


.content{
    margin: auto;
    margin-top: 200px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: #2c2b2b;
    
}

.mysSlides{
    display: none;
}

.content img{
    width: 500px;
    height: 450px;
    border-radius: 10px;
}

.content button{
    width: 25px;
    height: 25px;
    background: none;
    border: none;

    font-size: 20px;
    color: #16ff00;
    cursor: pointer;
}

#left{
    position: sticky;
    top: 475px;
}


#right{
    position: sticky;
    top: 450px;
    left:1250px;
}


#play{
   position: sticky;
   margin-top: 40px;
   left: 865px;

    width: 150px;
    height: 50px;

    font-family: cosmic;
    font-size: 20px;
    color: #16ff00;
    background-color: #2c2b2b;
    box-shadow: 1px 1px 1px black;
}
 

/* FOOTER */
 footer{
    background-color: #1f1e1e;
    opacity: 50%;
    height: auto;
    margin-top: auto;
    }
    
    .Footerz ul{
    list-style: none;
    text-align: center;
    }
    
    .Footerz ul li{
    display: inline-block;
    font-size: 15px;
    padding: 20px;
    
    }
    
    
    
    .Footerz ul li a{
    text-decoration: none;
    color: whitesmoke;
    }

    @media only screen and (min-width:1200px){
        #play{
            position: sticky;
            margin-top: 40px;
            left: 780px;
         }

         #left{
            top: 500px;
         }

         #right{
            top: 500px;
         }
    }